:root {
	/*
    --bg-primary-color: #0f1729;
    --bg-secondary-color: rgb(20, 22, 64);
    --bg-tertiary-color: #1A1136;
    */
	--bg-primary-color: #141A33;
	--bg-secondary-color: #1F1A4A;
	--bg-tertiary-color: #261640;
	--bg-secondary-color-ligth: #40A9FF;
	--bg-tertiary-color-ligth: #2E64E8;
	--bg-gray-color: #313235;
	--txt-primary-color: #FFFF;
	--bg-primary-color-trans: rgba(20, 26, 51, 0.4);
	--bg-tertiary-color-trans: rgba(38, 22, 64, 0.4);
}

* {
	box-sizing: border-box;
}

html {
	color: inherit !important;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(60deg, var(--bg-tertiary-color-trans) -30%, var(--bg-primary-color-trans) 100%), url(./src/assets/background-areas.svg);
	background-size: cover;
}

body {
	background-color: transparent !important;
}

nav {
	background-color: rgba(0, 0, 0, 0.6);
}

img,
picture,
svg,
video,
i {
	display: block !important;
	max-width: 100% !important;
	height: auto;
}

.icons {
	text-decoration: none !important;
	color: inherit !important;
}

.presentation {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 750px;
	margin-bottom: 6rem;

	text-align: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.6) url("./src/assets/bg_intro.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	color: var(--txt-primary-color);
}

.presentation>h1 {
	font-size: 6rem;
	font-weight: 300;
	flex-wrap: nowrap;
}


/*trabalhos*/
.timeln {
	width: 100%;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 5rem;
}

.scroll-container {
	width: 100%;
	overflow-x: auto;
	background-color: transparent;
}

.horizontal-scroll {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
}

.scroll-item {
	display: block;
	box-sizing: border-box;
	padding: 5px;
	margin: 10px;
	width: clamp(200px, 20dvw, 600px);
	border-radius: 10px;
	text-align: center;
}

.scroll-container::-webkit-scrollbar {
	width: auto;
	height: 10px;
	margin: 10px;
	padding: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
	background-color: #888;
	/* Cor do indicador */
	border-radius: 10px;
	/* Arredondamento do indicador */
	margin: 10px;
	padding: 10px;
}

.fix-mt {
	margin-top: 5rem;
}
/*formacao*/

.fix-mt-lg{
	margin-top: 20dvh !important;
}

.bg-fume {
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-radius: 10px;
}

.logo-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*portfolio*/

.box-dem {
	border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	overflow: hidden;
}

.box-dem img,video {
	transition: .2s ease-in-out;
}

.box-dem img:hover, video:hover {
	transform: scale(1.4);
}

.modal-footer img {
	width: 70px;
    height: 70px;
    border-radius: 50%;
}